In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
from session10 import *
import sys

In [4]:
num_profiles = 10000
nt_profiles = return_profiles_n_t(num_profiles)
dict_profiles = return_n_dict_profiles(num_profiles)

In [5]:
len(dict_profiles), len(nt_profiles._fields)

(10000, 10000)

In [6]:
sys.getsizeof(dict_profiles), sys.getsizeof(nt_profiles)

(295008, 80048)

In [9]:
sys.getsizeof(dict_profiles)/sys.getsizeof(nt_profiles)

3.685388766739956

### namedtuples are more than 3 times as small..!!

## Most common blood type

In [34]:
%timeit get_nt_mc_blood_type(nt_profiles)

2.6 ms ± 126 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [36]:
%time get_nt_mc_blood_type(nt_profiles)

Wall time: 4 ms

'O+'

Wall time, also called real-world time or wall-clock time, refers to elapsed time as determined by a chronometer such as a wristwatch or wall clock.

In [35]:
%timeit get_dict_mc_blood_type(dict_profiles)

2.42 ms ± 25.8 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [37]:
%time get_dict_mc_blood_type(dict_profiles)

Wall time: 3 ms

'AB+'

Dict Seems a bit faster by about 0.18 ms

## Mean location

In [26]:
%timeit get_nt_mean_loc(nt_profiles)

3.87 ms ± 295 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [24]:
%time get_nt_mean_loc(nt_profiles)

Wall time: 5 ms

(Decimal('0.16187428135'), Decimal('-1.8094237092'))

In [27]:
%timeit get_dict_mean_loc(dict_profiles)

2.96 ms ± 84.1 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [25]:
%time get_dict_mean_loc(dict_profiles)

Wall time: 7 ms

(Decimal('-0.32247539805'), Decimal('0.9403073552'))

#### Dict Seems Faster though in real World, Wall time Name Tuple has lower wall time

## Oldest Age

In [39]:
%timeit get_nt_oldest_age(nt_profiles)

564 µs ± 41 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [28]:
%time get_nt_oldest_age(nt_profiles)

Wall time: 3 ms

116

In [14]:
%timeit get_dict_oldest_age(dict_profiles)

741 µs ± 9.48 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [29]:
%time get_dict_oldest_age(dict_profiles)

Wall time: 1 ms

116

#### Named Tuple Wins

## Avg. Age

In [31]:
%timeit get_nt_avg_age(nt_profiles)

744 µs ± 49.3 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [32]:
%time get_nt_avg_age(nt_profiles)

Wall time: 2.99 ms

57.0691

In [30]:
%timeit get_dict_avg_age(dict_profiles)

871 µs ± 10.5 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [33]:
%time get_dict_avg_age(dict_profiles)

Wall time: 1.01 ms

57.4516

#### Named Tuple Wins

### 3/4 times Named tuple wins while using less than one-third of the resources.

##### NB:- It was found that using indexes rather than using property names sped up the process alot for named tuples.

## Looking at Company Data

In [8]:
import pandas as pd

In [22]:
companies = return_n_companies(15)

#### Using pandas to pretty print company profiles

In [24]:
df = pd.DataFrame(companies)

## The Market

In [25]:
df

,name,symbol,open,low,high,close
0,Allen-Ayala,ALL,779.593863,595.744145,862.832849,641.023858
1,Lee-White,LEE,453.034999,425.195945,460.737671,439.334688
2,"Dennis, Mcmahon and Martinez",DMAM,30.297116,30.297116,32.328263,31.429160
3,Becker-Dennis,BEC,346.137862,346.137862,376.409692,361.658476
4,Rose-Mckinney,ROS,514.375228,453.391617,518.768103,517.014439
5,Rosario-Stokes,ROS,409.872011,328.617642,443.158218,331.955780
6,Martinez-Solis,MAR,261.972880,237.569330,287.815433,266.597860
7,"Doyle, Blackwell and Jones",DBAJ,317.411319,231.930735,338.963219,246.665421
8,"Cardenas, Rowe and Wong",CRAW,226.585835,213.818354,248.673388,226.362607
9,"Aguilar, Montes and Cook",AMAC,74.286010,58.116471,77.092189,67.758165
10,James-Wood,JAM,577.436580,576.274659,579.158436,577.832969
11,Hansen-Lambert,HAN,364.000268,351.177495,385.088983,373.533480
12,"Frey, Coleman and Gilmore",FCAG,545.736840,417.912636,587.648853,512.023780
13,Harper-Kim,HAR,579.282830,455.876186,603.578831,558.935803
14,"Carey, Grant and Lopez",CGAL,635.491147,467.706279,701.826064,486.640181

#### Market Opened at (in points)

In [26]:
df['open'].sum()

6115.5147897804

#### Market Lowest today at (in points)

In [27]:
df['low'].sum()

5189.7664718429

#### Market Highest today at (in points)

In [28]:
df['high'].sum()

6504.0801936635

#### Market Closed at (in points)

In [29]:
df['close'].sum()

5638.766665145099

***fin***